@charset "UTF-8";
/* reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GLOBALES*/
body {
  font-family: "Baloo 2", sans-serif;
  background-color: #fdeed1;
}

/* títulos*/
h1 {
  background-color: #f03f3f;
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

/* subtítulos*/
h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: left;
  color: #f03f3f;
  font-weight: bold;
}

header {
  background-color: white;
}
header nav div a #logo1 {
  max-width: 60%;
  height: auto;
}

/* estilos del main index*/
#main-index {
  /* Estilos para las imágenes del entorno */
  /* Profesionales y Profesiones*/
}
#main-index #texto-inicial {
  background-color: #f03f3f;
  text-align: center;
  width: 100%;
  padding: 15px 5px;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}
#main-index section div img {
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}
#main-index .profesionales {
  text-align: center;
  background-color: #fdc5ae;
}
#main-index section ul li {
  list-style: none;
}
#main-index section ul li .profesiones {
  font-weight: bold;
  color: #f03f3f;
  font-size: 18px;
}

main .main-contacto div .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  justify-content: space-between;
}
main .main-contacto div .card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
}

/* estilos del formulario*/
form .container div .botones button .boton-enviar {
  background-color: #f03f3f;
}

/*Foto del equipo de trabajo*/
div .team-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  justify-content: center;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-ubicacion {
  /* Sección de Instalaciones */
}
.main-ubicacion .espacio-entramado {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  gap: 15px;
}
.main-ubicacion .espacio-entramado .fotos-espacio img {
  width: 370px;
  height: auto;
  object-fit: cover;
  align-items: center;
}
.main-ubicacion .espacio-entramado div .texto-ubicacion p {
  text-align: center;
}

/*Main taller de verano*/
.main-tallerDeVerano {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.main-tallerDeVerano .tallerDeVerano {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.main-tallerDeVerano .tallerDeVerano .tituloTaller {
  grid-column: 1/-1;
}
.main-tallerDeVerano .tallerDeVerano .niñosJugando {
  width: 100%;
  height: 300px;
  object-fit: cover;
  align-items: center;
}
.main-tallerDeVerano .tallerDeVerano .texto {
  grid-column: 1/-1;
}
.main-tallerDeVerano .tallerDeVerano .texto p span {
  font-weight: bold;
  color: #f03f3f;
  font-size: 20px;
}

/*main Activa tu cerebro*/
main .activaTuCerebro p span .subtitulo-fe {
  font-weight: bold;
  color: #f03f3f;
  font-size: 25px;
}
main .activaTuCerebro p span .frase-fa {
  font-size: 15px;
  font-weight: bold;
}
main .activaTuCerebro p span .contactate {
  font-size: 20px;
  color: #fdc5ae;
  font-weight: bold;
}
main .activaTuCerebro iframe .video-mente {
  margin-bottom: 20px;
}

/* Estilos para el logo fijo */
footer a img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 50px;
}

/* Media queries */
@media (max-width: 1024px) {
  /* Formulario de contacto */
  form div {
    width: 100%;
  }
  .botones {
    justify-content: left;
  }
}
@media (max-width: 768px) {
  /* Logo */
  header nav div a img#logo1 {
    justify-content: center;
  }
  /* Main taller de verano */
  .main-tallerDeVerano {
    margin: 0 5px 5px 5px;
    background-color: #fdeed1;
  }
  .main-tallerDeVerano .tallerDeVerano .niñosJugando {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .main-tallerDeVerano {
    display: flex;
    flex-direction: column;
  }
  .main-tallerDeVerano .tallerDeVerano .niñosJugando {
    width: 100%;
    height: 200px;
    object-fit: cover;
    justify-content: center;
  }
  /* Imagen de página contacto */
  .team-photo {
    display: none;
  }
  /* Fotos página contacto */
  .main-ubicacion {
    /* Sección de Instalaciones */
  }
  .main-ubicacion .espacio-entramado {
    display: flex;
    flex-direction: column;
  }
  .main-ubicacion .espacio-entramado div {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
