/* Estilos generales */
body {
    font-family: 'Baloo 2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Color de fondo */
body {
    background-color: #fdeed1;
}

/* logos*/

#logo1{
    max-width: 60%;
    height: auto; 
}

main{
    margin: 0 10px 10px 10px;
}
/* estilos del main index/*

/* Estilos para la frase inicial de la web */
#texto-inicial{
    background-color: #f03f3f;
    text-align: center;
    width: 100%;
    padding: 15px 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

/* Estilos para las imágenes del entorno */
main section div img {
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}
/* subtitulos de index*/
h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align:left;
    color: #f03f3f;
    font-weight: bold;
}
/* Profesiones*/
.profesionales{
    text-align: center;
    background-color: #fdc5ae;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}
.profesiones{
    font-weight: bold;
}
/* estilos de footer*/

/* Estilos para el logo fijo */
footer a img{
    position: fixed;
    bottom: 20px; 
    right: 20px;
    max-width: 50px; 
}

/* INICO PÁG CONTACTO */

/* Estilos para las tarjetas de especialidades */

h1{
    background-color: #f03f3f;
    width: 100%;
    height: auto;
    padding: 15px 0 15px 0;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    justify-content: space-between;
}



.card{
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
}

/* estilos del formulario*/
.boton-enviar{
    background-color: #f03f3f;
}


/* configuración imagen de equipo */

.team-photo img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* FIN PAG CONTACTO*/

/*pagina ubicacion*/
.espacio-entramado{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 0
}

.fotos-espacio img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.texto-ubicacion{
    text-align: center;
    ;
}

/* Taller de verano */

/*main taller de verano*/

.tallerDeVerano {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    gap: 20px; 
    grid-row: 2; 
    text-align:left;
}

.tituloTaller {
    grid-row: 1; 
    background-color:#f03f3f;
    color: white;
    text-align: center;
}

.niñosJugando {
    grid-row: 2; 
    width: 100%; 
    max-height: 300px;
    object-fit: cover; 
}

.texto span{
    font-weight: bold;
    color: #f03f3f;
    font-size: 20px;
}

/*Activá tu cerebro*/

/* main*/
.subtitulo-fe{
    font-weight: bold;
    color: #f03f3f;
    font-size: 25px;
}
.frase-fe{
    font-size: 15px;
    font-weight: bold;
}
.contactate{
    font-size: 20px;
    color: #fdc5ae;
    font-weight: bold;
}
.video-mente{
    margin-bottom: 20px;
}

/* Media queries*/
@media (max-width: 1024px){
    
    /* formulario contacto*/
    
    form div{
        width: 100%;
    }
    .botones{
        justify-content: left;
    }

}

@media (max-width: 768px) {

    /* logo hamburguesa*/

    /* main taller de verano */
    main{
        margin: 0 5px 5px 5px;
        background-color: #fdeed1;
    }

    /* imagen de pag contacto*/
    .team-photo{
        display: none;
    }

    /*fotos pág contacto*/
    .espacio-entramado{
        flex-direction: column;
    }
    /* formulario contacto*/

    form div{
        width: 100%;
    }

}