@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GLOBALES*/
body {
  font-family: "Baloo 2", sans-serif;
  background-color: #fdeed1;
}

/* títulos*/
h1 {
  background-color: #f03f3f;
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

/* subtítulos*/
h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: left;
  color: #f03f3f;
  font-weight: bold;
}

header nav {
  padding: 0;
  margin: 0;
}
header nav div {
  background-color: #fdc5ae;
}
header nav div a #logo1 {
  max-width: 60%;
  height: auto;
}

/* estilos del main index*/
#main-index {
  padding: 0;
  /* Estilos texto index*/
  /* Estilos para las imágenes del entorno */
  /* Profesionales y Profesiones*/
}
#main-index #texto-inicial {
  background-color: #f03f3f;
  text-align: center;
  width: 100%;
  padding: 15px 5px;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}
#main-index section h2 {
  margin: 30px;
}
#main-index section p {
  margin: 30px;
  text-align: justify;
}
#main-index section p .texto-equipo {
  font-size: 20px;
  color: #f03f3f;
}
#main-index section {
  margin: 0;
}
#main-index section div img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}
#main-index .profesionales {
  text-align: center;
  background-color: #fdc5ae;
}
#main-index section ul {
  padding-left: 0;
  margin: 0;
}
#main-index section ul li {
  list-style: none;
}
#main-index section ul li .profesiones {
  font-weight: bold;
  color: #f03f3f;
  font-size: 18px;
}

.main-contacto .card-profesionales .card-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.main-contacto .card-profesionales .card-contenedor .card {
  margin-bottom: 25px;
  width: 350px;
  height: 400px;
  box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.51);
  transform: scale(10px, 20px);
  cursor: pointer;
}
.main-contacto .card-profesionales .card-contenedor .card img {
  height: 250px;
  object-fit: cover;
}
.main-contacto .card-profesionales .card-contenedor .card-body h3 {
  font-size: 20px;
  font-weight: bold;
  color: #f03f3f;
}

/* Estilos de los botones del formulario */
form.container div.botones {
  margin-top: 15px;
}
form.container div.botones .boton-enviar {
  background-color: #f03f3f;
  border-color: white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 15px;
}
form.container div.botones .boton-borrar {
  background-color: #fdc5ae;
  border-color: white;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 15px;
}

/* Foto del equipo de trabajo */
.team-photo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 15px;
}

.main-ubicacion {
  /* Sección de Instalaciones */
}
.main-ubicacion .espacio-entramado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  gap: 15px;
}
.main-ubicacion .espacio-entramado .fotos-espacio img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.main-ubicacion .espacio-entramado div .texto-ubicacion p {
  text-align: justify;
  font-size: 25px;
}

/* Main taller de verano */
.main-tallerDeVerano {
  display: flex;
  background-image: url(../imagenes/arbol-rosa.png);
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: left;
  /* Estilos de la imagen de niños jugando */
  /* Estilos del texto */
}
.main-tallerDeVerano .niñosJugando {
  align-items: center;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.main-tallerDeVerano p {
  margin: 20px;
  text-align: justify;
  width: 50%;
  font-size: 20px;
}
.main-tallerDeVerano p span {
  font-weight: bold;
  color: #f03f3f;
  font-size: 25px;
}

/*main Activa tu cerebro*/
#activa-tu-cerebro .texto-fe {
  margin: 20px;
}
#activa-tu-cerebro .texto-fe .subtitulo-fe {
  font-weight: bold;
  color: #f03f3f;
  font-size: 25px;
}
#activa-tu-cerebro .texto-fe .frase-fa {
  font-size: 15px;
  font-weight: bold;
}
#activa-tu-cerebro .texto-fe .contactate {
  font-size: 20px;
  color: #fdc5ae;
  font-weight: bold;
}
#activa-tu-cerebro iframe {
  height: 400px;
}

/* Estilos para el logo fijo */
footer a img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 50px;
}

/* Media queries tablet*/
@media (max-width: 1024px) {
  /* Logo */
  header nav div a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav div a #logo {
    width: 60%;
  }
  header nav div #boton-hamburguesa {
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    top: 50px;
    border-color: #fdeed1;
  }
  /*Main index*/
  #main-index {
    margin-bottom: 25px;
    /* Estilos para las imágenes del entorno */
  }
  #main-index section {
    margin: 0;
  }
  /*Espacio-ubicación*/
  .main-ubicacion {
    /* Sección de Instalaciones */
  }
  .main-ubicacion .espacio-entramado {
    flex-direction: row;
  }
  .main-ubicacion .espacio-entramado .fotos-espacio img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .main-tallerDeVerano {
    /* Estilos de la imagen de niños jugando */
  }
  .main-tallerDeVerano .niñosJugando {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  #activaTuCerebro iframe {
    height: 300px;
  }
  /* Formulario de contacto */
  .main-contacto .card-profesionales .card-contenedor {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .main-contacto .card-profesionales .card-contenedor .card {
    margin-bottom: 25px;
    width: 300px;
    height: 400px;
    object-fit: cover;
    box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.51);
  }
  .main-contacto .card-profesionales .card-contenedor .card img {
    height: 250px;
  }
  .main-contacto form div {
    width: 100%;
  }
  .main-contacto form.container div.botones .boton-enviar.boton-borrar {
    margin-bottom: 25px;
  }
}
/* Media queries celular*/
@media (max-width: 768px) {
  /* Logo */
  header nav div a {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header nav div a #logo {
    width: 60%;
  }
  header nav div #boton-hamburguesa {
    position: absolute;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    top: 30px;
  }
  #main-index {
    /* Estilos texto index*/
    /* Profesionales y Profesiones*/
  }
  #main-index #texto-inicial {
    padding: 15px;
  }
  #main-index section h2 {
    text-align: center;
  }
  #main-index section {
    text-align: center;
  }
  #main-index section ul li .profesiones {
    font-weight: bold;
    color: #f03f3f;
    font-size: 18px;
  }
  #main-index section ul li .profesiones ul {
    gap: 15px;
  }
  #activaTuCerebro iframe {
    height: 200px;
  }
  .main-tallerDeVerano {
    background-image: none;
    /* Estilos del texto */
  }
  .main-tallerDeVerano p {
    width: 100%;
    margin: 0;
  }
  /* Imagen de página contacto */
  /*card de contacto*/
  .main-contacto {
    /* Botones centrados*/
  }
  .main-contacto div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-contacto div.card {
    gap: 10px;
  }
  .main-contacto form .container div.botones .boton-enviar .boton-borrar {
    justify-content: center;
  }
  .main-contacto .team-photo {
    display: none;
  }
  /*Espacio-ubicación*/
  .main-ubicacion {
    /* Sección de Instalaciones */
  }
  .main-ubicacion .espacio-entramado {
    flex-direction: column;
  }
  .main-ubicacion .espacio-entramado .fotos-espacio img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
