/*main Activa tu cerebro*/
#activa-tu-cerebro {
    .texto-fe {
        margin: 20px;

        .subtitulo-fe {
            font-weight: bold;
            color: $color-oscuro;
            font-size: 25px;
        }

        .frase-fa {
            font-size: 15px;
            font-weight: bold;
        }

        .contactate {
            font-size: 20px;
            color: $color-medio;
            font-weight: bold;
        }
    }
    iframe{
        height: 400px;
    }
}