/*main Activa tu cerebro*/
main .activaTuCerebro{
    p{
     
        span .subtitulo-fe{
            font-weight: bold;
            color: $color-oscuro;
            font-size: 25px;
        }
        span .frase-fa{
            font-size: 15px;
            font-weight: bold;
        }
        span .contactate{
            font-size: 20px;
            color: $color-medio;
            font-weight: bold;
        }
    }
    iframe .video-mente{
        margin-bottom: 20px;
    }
}