/*main Activa tu cerebro*/
main .activaTuCerebro{
    p{
        span .subtitulo-fe{
            font-weight: bold;
            color: #f03f3f;
            font-size: 25px;
        }
        span .frase-fa{
            font-size: 15px;
            font-weight: bold;
        }
        span .contactate{
            font-size: 20px;
            color: #fdc5ae;
            font-weight: bold;
        }
    }
    iframe .video-mente{
        margin-bottom: 20px;
    }
}