.main-ubicacion {
   /* Sección de Instalaciones */
   .espacio-entramado{
     display: flex;
     flex-direction: row;
     margin-bottom: 0;
     gap: 15px;
 
     .fotos-espacio{
        img{
          width: 370px;
          height: auto;
          object-fit: cover;
          align-items: center;
          
        }
      }
     
 
     div .texto-ubicacion {
      p{
        text-align: center; 
      }
     }
   }
 }
 