.main-contacto {
  .card-profesionales {
    .card-contenedor {
      display: flex;
      flex-direction: row;
      width: 100%;
      
      .card {
        margin-bottom: 20px;
        img {
          height: 300px;
          object-fit: cover;
        }

        .card-body {
          h3 {
            font-size: 20px;
            font-weight: bold;
            color: $color-oscuro;
          }
        }
      }
    }
  }


  /* Estilos de los botones del formulario */
  form.container {
    div.botones {
      margin-top: 15px;

      .boton-enviar {
        background-color: $color-oscuro;
        border-color: white;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 15px;
      }

      .boton-borrar {
        background-color: $color-medio;
        border-color: white;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 15px;
      }
    }
  }

  /* Foto del equipo de trabajo */
  .team-photo {
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      @include img(100%, 400px, cover);
      margin-top: 15px;
      opacity: 80%;
    }

  }
}