.main-ubicacion {
   /* Sección de Instalaciones */
   .espacio-entramado{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 10px;
     margin-bottom: 0;
 
     div{
       height: auto;
       object-fit: cover;
       }
     
 
     div .texto-ubicacion {
      p{
        text-align: center; 
      }
     }
   }
 }
 