/* Main taller de verano */
.main-tallerDeVerano {
  display: flex;
  background-image: url(../imagenes/arbol-rosa.png);
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: left;
  


  /* Estilos de la imagen de niños jugando */
  .niñosJugando{
    align-items: center;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  & p {
    margin: 20px;
    text-align: justify;
    width: 50%;
    font-size: 20px;
  }

  /* Estilos del texto */
  & p span {
    font-weight: bold;
    color: $color-oscuro;
    font-size: 25px;
  }
}



