/*Main taller de verano*/
.main-tallerDeVerano {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 20px; 

  .tallerDeVerano {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .tituloTaller {
      grid-column: 1 / -1; 
    }

    .niñosJugando {
      width: 100%;
      height: 300px;
      object-fit: cover;
      align-items: center; 
    }

    .texto {
      grid-column: 1 / -1; 
      
      p {
        span {
          font-weight: bold;
          color: #f03f3f;
          font-size: 20px;
        }
      }
    }
  }
}
