header{
    background-color: white;
    nav{
        div{
            a{
                #logo1{
                    max-width: 60%;
                    height: auto; 
                }
            }

        }

    }
}